/* P2 */

:root {
	--claro-de-fundo: #F9FFF2;
	--laranja-cat: #E08447;
	--ciano-proj: #68D3D0;
}

html{
	width: 100vw; 
	min-height: 100vh;
	height: 100%;
}

body {
	background-color: var(--ciano-proj);
	display: block;

}

.header {
	background-color: var(--claro-de-fundo);
	width:100%;
	height: 60px;
	border-bottom: 0.05rem solid;
	padding-bottom: 0%;
	margin-bottom: 0%;
	display: block;
}

.header, .footer {
	position: fixed;
}

.search-icon {
	width: 12rem;
	margin-top: -4rem;
	margin-left: 7rem;
}

.profile-icon {
	position: absolute;
	width: 2.3rem;
	left: 320px;
	top: 10px;
}

.plus-icon{
	position: absolute;
	width: 1.8rem;
	left: 17px;
	top: 14px;
}

.slides-icon {
	border-radius: 17px;
	margin: 10px;
	margin-left: -1rem;
	width: 125%;
}

.container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	margin-left: 1.6rem;
	width: 75%;
	margin-bottom: 50px;
}

.title {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	padding-top: 4.7rem;
	text-align: center; 
	width: 100%;
	font-size: 1.8rem;
	background-color: none;
	font-family: Didot, serif;
	font-style: oblique;
	margin-bottom: 50px;
}

.title2 {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	padding-top: 4.5rem;
	text-align: center; 
	width: 100%;
	font-size: 1.5rem;
	background-color: none;
	font-family: Didot, serif;
}

.aula-coluna1 {
	background-color: var(--laranja-cat);
	margin: 10px;
	width: 42%;
	border-radius: 10px;
}

.text {
	padding: 1rem;
	font-size: 2.5rem;
}

.footer {
	background-color: var(--claro-de-fundo);
	width: 100%;
	height: 50px;
	bottom: 0;
	display: block;
	position: fixed;
}
.menu-icon {
	width: 2.2rem;
	margin-left: 1rem;
	margin-top: 1.2rem;
	position: fixed;	
}

.home-icon {
	width: 3rem;
	margin-left: 10rem;
	margin-top: 0.2rem;
	position: fixed;
}

.public-icon {
	width: 3rem;
	margin-left: 19rem;
	margin-top: 0.3rem;
	position: fixed;
}


.add-icon {
	width: 30rem;
	margin-left: 16rem;
	position: fixed;
	margin-top: 0.9rem;
}

.recent-subtitle {
	font-family: Didot, serif;
	font-weight: 500;
	font-size: 1.1rem;
	margin-top: 1.5rem;
	margin-left: .8rem;
}

.menu ul {
    display:none;   
}

.menu:checked ul {
    display:block;   
}

/*-----------------------------------------------------*/
/*SLIDE-MENU*/

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn 
	{
	font-size: 40px;
	top: 15px;
	right: 35px;
  }
}

/*-----------------------------------------------------*/
/*DROPUP - COMPARTILHAR*/

.dropbtn {
	font-family: 'Montserrat', sans-serif; 
	font-weight: bold;
	border-radius: .25rem;
	background-color: #fff;
	color: black;
	padding: 10px;
	font-size: 11px;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  	background-color: #fff;
}

.dropdown {
  	position: relative;
  	display: inline-block;
  	margin-top: .8rem;
  	margin-left: .25rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*-----------------------------------------------------*/
/*PUBLIC_SUBJECTS*/

.title_math {
	background-image: url(../img/maths.jpg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
	opacity: 0.9;
}

.title_filo {
	background-image: url(../img/filo.jpg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_port {
	background-image: url(../img/port.jpg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_hist {
	background-image: url(../img/hist.jpeg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_geo {
	background-image: url(../img/geograf.jpeg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_ing {
	background-image: url(../img/ing.jpeg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_quim {
	background-image: url(../img/quim.jpeg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_atua {
	background-image: url(../img/atua.jpeg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

.title_fis {
	background-image: url(../img/physic.jpeg);
	height: 3rem ;
	border-width: .2rem;
	border-radius: .3rem;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	color: aliceblue;
}

/*-----------------------------------------------------*/
/*Slides*/

.add-logo {
	width: 12rem;
	margin-bottom: 4rem;
	margin-left: 6.5rem;
	border-radius: 1rem;
}

.logo {
	width: 27.5%;
	margin-left: 8.75rem;
	margin-bottom: 4.5rem;
}

.logo2 {
	width: 27.5%;
	margin-left: 8.75rem;
	margin-bottom: 4.5rem;
	position: fixed;
	left: 115px;
	top:270px;
	border-radius: 20px;
}

.mostrar {
	opacity: 0;
}


.profile-icon-slide1{
	width: 2.3rem;
	margin-bottom: 4.9rem;
	margin-left: 1.25rem;
}

.profile-icon-slide2{
	width: 2.3rem;
	margin-bottom: 5.15rem;
	margin-left: 4.55rem;
}

.elemento_de_lista {
	display: flex;
	justify-content: flex-start;
	margin-top: 2rem;
	margin-left: .2rem;
}

.topicos-slide {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	text-align: center;
	font-family: 'Montserrat', serif; 
	font-size: x-large;
	width: 100%;
	font-size: 1.5rem;
	background-color: none;
}

.slides-icon-slide{
	border-radius: 10px;
	margin: 10px;
	margin-left: -1rem;
	margin-top: 2rem;
	width: 125%;
}

/*-----------------------------------------------------*/
/*DOWNLOAD*/

.download {
	margin-top: 12rem;
	margin-left: 5rem;
}

.texto-download {
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
	margin-top: 1rem;
}

/*-----------------------------------------------------*/
/*PERFIL*/

.topicos-perfil {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	text-align: center;
	font-family: Didot, serif; 
	font-size: x-large;
	width: 100%;
	font-size: 1.5rem;
	background-color: none;
}

.perfil {
	width: 25%;
	margin-top: 1rem;
	margin-left: 8.5rem;
	margin-bottom: -2rem;
}

.container-perfil {
	display: flex;
	flex-direction: column;
	margin-left: 1.6rem;
	width: 75%;
	margin-bottom: 50px;
}